<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1 id="mainHeader">Validate South African ID Numbers</h1>
    <p class="lead">All you need to do is sign up!</p>
    <div class="text-center">
      <button id="register" class="btn btn-primary btn-lg mr-2"(click)="registerToggle()">Register</button>
      <button id="learnMore" class="btn btn-info btn-lg" (click)="onLearnMore()">Learn more</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
          <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>
