<form id="registerForm" #registerForm="ngForm" (ngSubmit)="register()">
  <h2 id="signUp" class="text-center text-primary">Sign Up</h2>
  <hr>

  <div class="form-group">
    <input id="userName" type="text" class="form-control" required name="username" [(ngModel)]="model.username"
      placeholder="Username">
  </div>

  <div class="form-group">
    <input id="password" type="password" class="form-control" required name="password" [(ngModel)]="model.password"
      placeholder="Password">
  </div>

  <div id="buttonLayout" class="form-group text-center">
    <button id="register" class="btn btn-success" type="submit">Register</button>
    <button id="cancel" class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>

</form>